.SelectedCatName {
  margin: 30px;
}

.EventContainer {
  width: 100%;
  margin-bottom: 80px;
  padding: 38px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media screen and (min-width: 992px) {
  .EventContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
