.SelectedCatName {
  margin: 30px;
}

.EventContainer {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 80px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media screen and (min-width: 992px) {
  .EventContainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
