.Slider {
  width: 90%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .Overlay {
    width: 100%;
    height: 40%;
    padding: 10px 15px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .BackgroundImage {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  .Actions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;

    .Arrow {
      font-size: 40px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
