.Details {
  width: 100%;
  margin-top: 1rem;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .DateAndTime {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .Info {
    color: #bbb;
  }

  .Location {
    color: #9e6aff;
    display: flex;
    align-items: center;
    gap: 4px;

    .LocationIcon {
      display: flex;
      gap: 4px;
    }
  }

  .Capacity {
    width: 100%;
    color: #9e6aff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
  }
}

// Start responsives
@media screen and (min-width: 992px) {
  .Details {
    gap: 40px;
  }
}

@media screen and (min-width: 992px) {
  .DateAndTime {
    max-width: 200px;
  }
}
