.Image_Profile {
  width: 90%;
  height: 44px;
  border-radius: 20px;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Btn {
  width: 90%;
}

@media screen and (min-width: 992px) {
  .Image_Profile {
    max-width: 400px;
  }
}
