.Label {
  font-weight: bold;
}
.Image_Profile {
  height: 60px;
  width: 90%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

.Icon {
  margin-bottom: 20px;
  margin-right: 50px;
}
.Btn {
  margin-bottom: 20px;
}
