.UserPage {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .UserCard {
    height: 150px;
    width: 200px;
    padding-top: 10px;
    background-color: #2cbfbf;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .User_Info {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .Name_Surname {
      width: 260px;
      display: flex;
      justify-content: space-between;

      .Info {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .Type {
          border-bottom: 2px solid #2cbfbf;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .UserPage {
    margin-top: 100px;
  }
}

@media screen and (min-width: 992px) {
  .Info {
    width: 220px;
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .Name_Surname {
    min-width: 600px;
    flex-direction: row;
  }
}
