.UserPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .User {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: aqua;
        height: 150px;
        width: 200px;
        border-radius: 10px;
     
                img {
                    margin-top: 10px;
            border-radius: 50%;
            object-fit: cover;
            width: 100px;
            height: 100px;
        }
    }
    .User_Info{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        align-items: center;
        gap: 20px;
    h1 {
    border-bottom: 3px solid aqua;
    }
        .Name_Surname{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 30px;
            .Info {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 15px;
                gap: 5px;
                .Type {
                    border-bottom: 3px solid aqua;
                    font-size: 18px;



                }
             }

        }
    }   
}