@import "../../styles/colors.module.scss";

.AddEvent {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .FormAddEvent {
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .Box_Input {
      width: 90%;
      height: 48px;
      border-radius: 20px;
      background-color: azure;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Select {
      width: 90%;
      height: 38px;
      border-radius: 20px;
      padding: 10px 20px;
    }
  }
}
