.Modal {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  justify-content: center;
  background-color: rgb(123, 255, 255);
  width: 500px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.Inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.message {
  justify-content: center;
}
