.NavBar {
  background-color: #0d0d0d;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  width: 90%;
  height: 40px;
  border-radius: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  .NavMenu {
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;

    a {
      color: #ffffff;
    }

    .Active {
      color: #03a696;
    }
  }
}
