@import "../../styles/colors.module.scss";

.Event {
  width: 100%;
  height: 180px;
  display: flex;
  gap: 20px;

  .PosterContainer {
    width: 60%;

    img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .EventInfo {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2px;
    p {
      font-size: 13px;
      color: #bbb;
    }
    h6 {
      color: #9e6aff
    }
    h3 {
      font-size: 16px;
    }

    .LocationDate {
      display: flex;
      flex-direction: row;
      gap: 38px;
      font-size: 0.7em;

    }

  }
}

@media screen and (min-width: 992px) {
  .Event {
    max-width: 400px;
  }
}
