@import "../../styles/colors.module.scss";

.Event {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;

  img {
    border-radius: 20px;
    width: 150px;
    height: 200px;
    object-fit: cover;
  }

  .EventInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    .EventCardBtn {
      color: $text-color;
      background-color: $button-color;
      border-radius: 20px;
      width: 140px;
      height: 40px;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: $hover-button-color;
      }

      a {
        color: $text-color;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .Event {
    max-width: 400px;
  }
}
