.Footer {
  display: none;
}

@media screen and (min-width: 992px) {
  .Footer {
    width: 100%;
    height: 60px;
    background-color: #03a696;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
}
